<ion-header>
  <ion-toolbar>
    <ion-title>registeration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel email #email ></ion-input>
      <ion-note slot="helper">Enter a valid email</ion-note>
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" (click)="signUp(email.value , password.value)">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
