<ion-header>
  <ion-toolbar>
    <ion-title>create-employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="employeeForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating"> Name </ion-label>
        <ion-input type="text" formControlName="name" required=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input type="text" formControlName="email" required=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Mobile </ion-label>
        <ion-input type="number" formControlName="mobile" required=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> details </ion-label>
        <ion-textarea type="text" formControlName="details" required=""></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col> <!--عشان تعمل مسافه شويه من ادام-->
          <ion-button type="submit" color="primary" shape="full" expand="block"> Add employee </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
